body{
    width: 100%;
    height: 100%;
    color: rgb(13, 9, 65);
    background-color: #333;
    font-family: Verdana, Geneva, sans-serif;
} 

p{
    font-size: 15px;
    line-height: 1.3;
}

a{
    color: #777;
}

a:hover{
    color: #c33;
    text-decoration: none;
}

.right_aligned{
    text-align: right;
}

.centered{
    text-align: center;
}

.float_left{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
}

#title{
    font-size: 50px;
    padding: 3px;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #777;
}

#sub_heading{
    font-size: 14px;
    padding: 2px;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #777;
}

#logo_container{
    float:left;
}

#title_container{
    float:left;
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

#proctor_or_parent{
    position: absolute;
    top: 0px;
    right: 10%;
    z-index: 1;
}

#proctor_or_parent div{
    float: left;
    padding: 5px;
}

#proctor_or_parent div a{
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

#proctor_or_parent div a:hover{
    border-bottom: 5px solid #c33;
}

.active{
    color: #c33;
}

#margin_on_top_of_navbar{
    height: 70px;
}

.navbar_custom{
    border: 0px;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    padding-right: 50px;
}

.navbar_custom li a{
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px;
}

.navbar_custom li a:hover{
    color: #c33;
    border-bottom: 5px solid #c33;
}

header{
    background-color: white;
    height: 120px;
}

.logo{
    height: 110px;
    padding: 10px;
}

#login_form_container{
    background-color: #333;
    height: 230px;
}

#login_form_container h4{
    color: #fff;
    text-transform: uppercase;
    font-size: 25px;
    padding: 3px;
}

#login_form_container p{
    color: #ffcb0b;
    font-size: 13px;
    padding: 7px;
}

#login_form_container p a{
    color: #ffcb0b;
}

#login_form_container p a:hover{
    text-decoration: underline;
}

.link a{
    font-weight: bold;
    font-size: 13px;
}

#login_form{
    background-color: #171717;
    margin-top: 30px;
    border-radius: 3px;
    color: #c3c3c3;
}

#login_form input, text{
    background-color: #3e3e3e;
    color: #989898;
    border-radius: 0px;
    border: 0px;
}

.login_button{
    display: block;
    width: 100%;
    padding: 7px;
    background-color: #292929;
    color: #989898;
    border: 10px;
}

.login_button:hover{
    background-color: #454545;
}


#login_form textarea:focus, input[typr="checkbox"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{   
    border-color: #000;
    box-shadow: 0px 0px 0px;
    outline: 0 none;
}

#proctor_login_form{
    display: none;
}

#password_reset_form{
    display: none;
    padding: 10px 3px 50px 3px;
}

.checkbox{
    padding: 0 0 0 20px;
}



#calender_of_events{
    background-color: white;
    padding: 40px 100px 80px 100px;
    margin-top: 30px;
}

#calender_of_events h5{
    color: #7e7e7e;
    font-style: italic;
    text-align: center;
}

#event_date_container{
    float: left;
    width: 25%;
    height: 100px;
    padding: 5px;
    margin-bottom: 9px;
}

#date_container{
    width: 35%;
    text-align: center;
    background-color: #a3a3a3;
    float:left;
    height: 100px;
}

.month{
    text-transform: uppercase;
    font-size: 18px;
    color: #ebebeb;
    line-height: 25px;
}

.date{
    font-size: 40px;
    line-height: 42px;
    color: #ebebeb;
}

.time{
    font-size: 12px;
    line-height: 13px;
    color: #777;
    text-align: right;
    padding-right: 2px;
}

.venue{
    font-size: 12px;
    line-height: 13px;
    color: #777;
    text-align: right;
    padding-right: 2px;
}

#event_container{
    width: 65%;
    border: 1px solid #a3a3a3;
    border-left: 0px;
    float:left;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.event{
    padding: 5px 2px 0px 5px;
    color: #343434;
}

#blog_container{
    padding: 0px 100px 40px 100px;
    background-color: #f0f0f0;
}

#blog_header{
    background-color: #414141;
    padding: 3px 15px 3px 15px;
    margin: 0px 14px 0px 14px;
}

#blog_container h5{
    color: #fff;
    font-size: 18px;
}

#blog_div{
    height: 450px;
    padding: 10px;
    background-color: white;
    border: 1px solid #d1d1d1;
    margin: 7px 0px 7px 0px;
    box-shadow: 2px 2px 5px #d1d1d1;
}

#blog_title p{
    color: #8d8d8d;
    font-size: 25px;
    
}

#blog_content p{
    font-size: 14px;
    color: #4d4d4d;
}

.blog_date{
    text-align: right;
    padding-right: 5px;
    color: #777;
    font-size: 14px;
    font-style: italic;
}

.author{
    text-align: right;
    padding-right: 5px;
    color: #777;
    font-size: 18px;
}

.designation{
    text-align: right;
    padding-right: 5px;
    color: #777;
    font-size: 15px;
}

footer{
    background-color: #212121;
    color: #cecece;
    padding: 0px 100px 0px 100px;
}

footer p.address{
    font-size: 12px;
    line-height: 15px;
}

footer h3{
    padding: 0px;
    line-height: 30px;
    margin-top: -10px;
}

#bottom_list{
    display: block;
    position: relative;
}




/* Student Profile Page*/
#student_profile_page div{
    padding: 10px;
}

#student_profile_page{
    background-color: #fdfdfd;
}

#semester_results_and_remarks{
    margin-top: 30px;
}

#proctor_remark{
    font-size: 16px;
}

.datetime{
    font-style: italic;
    font-size: 13px;
    color: #c33;
}

.active_cell{
    background-color: #e7e9ff;
}

.pass_cell{
    background-color: #26d026;
}

.bunk_cell{
    background-color: #d1d1d1;
}

.fail_cell{
    background-color: #ff1818;
}

.heading_for_tables{
    color: #777;
}


/* Proctor profile page */

#proctor_profile_page{
    background-color: white;
}

#search_results{
    padding: 15px;
}

#search_results p{
    font-size: 12px;
    font-style: italic;
    color: #777;
}

#bulk_updation_link{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}

#bulk_updation_link a p{
    font-size: 18px;
    font-style: italic;
    color: #428bca;  
}

#bulk_updation_link a:hover{
    color: #357ebd; 
    text-decoration: underline;
}

.tab-pane{
    padding: 10px;
    color: #5d5d5d;
}

table td:nth-child(5){
    text-align: center;
}




#edit_profile{
    margin-top: 50px;
    padding: 20px;
    clear: both;
    border: 1px solid #e6e6e6;
}


/* Batch attendence updation */
#attendance_updation{
    background-color: white;
}

#attendance_updation input, text{
    width: 60px;
}

/* Proctor individual student page */
#individual_student{
    background-color: white;
}

#parent_feedback{
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow-x: none;
    overflow-y: scroll;
    height: 160px;
}

#parent_feedback p.feedback{
    color: #4c4c4c;
}

#parent_feedback .date_feedback{
    color: #777;
    font-style: italic;
}

/* Parent edit page */
#parent_edit_form_container{
    background-color: #e2e2e2;
    padding: 20px;
    color: #777;
}

#parent_edit_form{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    box-shadow: 2px 2px 5px #d1d1d1;
}